<div class="login-container">
  <h2>Connexion</h2>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="input-group">
      <label for="email">Email :</label>
      <input id="email" type="email" formControlName="email" />
      <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
        <small *ngIf="loginForm.get('email')?.errors?.['required']">L'email est requis.</small>
        <small *ngIf="loginForm.get('email')?.errors?.['email']">L'email n'est pas valide.</small>
      </div>
    </div>
    <div class="input-group">
      <label for="motDePasse">Mot de passe :</label>
      <input id="motDePasse" type="password" formControlName="motDePasse" />
      <div *ngIf="loginForm.get('motDePasse')?.invalid && loginForm.get('motDePasse')?.touched">
        <small *ngIf="loginForm.get('motDePasse')?.errors?.['required']">Le mot de passe est requis.</small>
      </div>
    </div>
    <button type="submit" [disabled]="isLoading || loginForm.invalid">
      {{ isLoading ? 'Connexion en cours...' : 'Se connecter' }}
    </button>
  </form>
</div>