<div class="home-container">
    <div class="home-content">
      <h1 class="home-title">Bienvenue sur <span class="highlight">BlogApp</span></h1>
      <p class="home-description">
        Découvrez des articles inspirants dans plusieurs domaines.<br> Explorez notre univers riche en contenu !
      </p>
      <a routerLink="/post-list" class="home-button">Explorer les Articles</a>
    </div>
    <div class="home-image-wrapper">
      <img class="home-image" src="assets/img1.jpg" alt="Image d'accueil">
    </div>
  </div>
  
  <!-- Section Articles Récents -->
  <div class="recent-articles-section">
    <h2 class="section-title">Articles Récents</h2>
    <div class="articles-grid">
      <div class="article-card" >
        <img  alt="Image Article" class="article-image">
        <h3 class="article-title"></h3>
      </div>
    </div>
  </div>
  
  